<div id="page-wrapper">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Đương sự tổ chức</h1>
      <p>
        <a class="btn btn-primary" href="/admin/duongsu_tc/create">Thêm đương sự</a>
      </p>
      <table class="table">
        <tbody id="data_user">
          <tr>
            <th>
              Tên Cơ Quan
            </th>
            <th>
              Đại diện
            </th>
            <th>
              CMND
            </th>
            <th>
              SDT
            </th>
            <th>
              Tỉnh thành
            </th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
            <% data1[0].forEach(function(ds){%>
            <tr>
              <td><%= ds.TEN_CT%></td>
              <td><%= ds.HOTEN_DAIDIEN%></td>
              <td><%= ds.CMND%></td>
              <td><%= ds.SDT%></td>
              <td><%= ds.TEN_TINH%></td>
              <td><a href="../admin/duongsu_cn/view/ds.id" class="fa  fa-eye fa-fw">Xem</a></td>
              <td>&nbsp&nbsp&nbsp&nbsp|</td>
              <td><a onclick="return confirm('Bạn có chắc muốn xóa?')" href="../admin/duongsu_cn/delete/ds.id" class="fa fa-remove fa-fw" style="color: #ff0000;">Xóa</a></td>
            </tr>
            <%})%>
        </tbody>
      </table>
      <!-- /.col-lg-12 -->
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
</div>
