<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Thêm Đương sự</h1>
        <form class="form-horizontal" action="" method="POST" enctype="application/x-www-form-urlencoded" onsubmit="return checkPw(this);">
          <div class="row">
            <div class=" col-lg-12">
              <div class=" panel panel-default">
                <div class="panel-heading">
                  Thông tin Đương sự
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="form-group col-md-4" style="margin-left: 5px;">
                      <label>Họ tên *</label>
                      <input readonly class="form-control" value="<%= data1[0][0].HOTEN%>" name="hoten" type="text" autofocus autocomplete="off">
                    </div>
                    <div class="form-group col-md-4" style="margin-left: 5px;">
                      <label>Giới Tính</label>
                      <select class="form-control" name="gioitinh" id="gioitinh" disabled>
                        <option value="<%= data1[0][0].GIOITINH%>"><%= data1[0][0].GIOITINH%></option>
                      </select>
                    </div>
                    <div class="form-group col-md-4" style="margin-left: 5px;">
                      <label>Ngày sinh *</label>
                      <input readonly class="form-control" value="<%= ns[0][0].to_char%>" name="ngaysinh" type="date" autofocus autocomplete="off">
                    </div>
                    <div class="form-group col-md-4" style="margin-left: 5px;">
                      <label>Số CMND *</label>
                      <input readonly class="form-control" value="<%= data1[0][0].CMND%>" name="cmnd" type="text" autofocus autocomplete="off">
                    </div>
                    <div class="form-group col-md-4" style="margin-left: 5px;">
                      <label>Ngày cấp *</label>
                      <input readonly class="form-control" value="<%= nc[0][0].to_char%>" name="ngaycap" type="date" autofocus autocomplete="off">
                    </div>
                    <div class="form-group col-md-4" style="margin-left: 5px;">
                      <label>Nơi cấp *</label>
                      <input readonly class="form-control" value="<%= data1[0][0].NOICAP%>" name="noicap" type="rext" autofocus autocomplete="off">
                    </div>
                    <div class="form-group col-md-4" style="margin-left: 5px;">
                      <label>Quốc Tịch*</label>
                      <input readonly class="form-control" value="<%= data1[0][0].QUOCTICH%>" name="quoctich" type="text" autofocus autocomplete="off">
                    </div>
                    <div class="form-group col-md-4" style="margin-left: 5px;">
                      <label for="tinhthanh">Tình trạng</label>
                      <select class="form-control" name="tinhtrang" id="tinhtrang" disabled>
                                  <option value="<%= data1[0][0].TINHTRANG%>"><%= data1[0][0].TINHTRANG%></option>
                                  <option value="Đã chết">Đã chết</option>
                                </select>
                    </div>
                    <div class="form-group col-md-4" style="margin-left: 5px;">
                      <label>Ghi chú</label>
                      <input readonly class="form-control" value="<%= data1[0][0].GHICHU%>" name="ghichu" type="text" autofocus autocomplete="off">
                    </div>
                    <div class="form-group col-md-4" style="margin-left: 5px;">
                      <label>Trạng thái</label>
                      <select class="form-control" name="tthai" disabled>
                        <option value="<%= data1[0][0].trang_thai%>"><%= data1[0][0].TEN_TRANGTHAI%></option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Close panel -->
            </div>
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  Địa chỉ liên hệ
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="form-group col-md-4" style="margin-left: 5px;">
                      <label for="tinhthanh">Tỉnh thành </label>
                      <select class="form-control" name="tinhthanh" id="list1" onchange="getSelect1();" disabled>
                        <option value="<%= data1[0][0].ma_diachi%>"><%= data1[0][0].TEN_TINH%></option>
                      </select>
                    </div>
                    <div class="form-group col-md-4" style="margin-left: 5px;">
                      <div id="list2" onchange="getSelect2();">
                        <label for="quanhuyen">Quận/Huyện </label>
                        <select class="form-control" name="" id="quanhuyen" disabled>
                          <option value="<%= data1[0][0].ma_quan_huyen%>"><%= data1[0][0].TEN_QUAN_HUYEN%></option>
                          </select>
                      </div>
                    </div>
                    <div class="form-group col-md-4" style="margin-left: 5px;">
                      <div id="list3">
                        <label for="phuongxa">Phường/Xã </label>
                        <select class="form-control" name="phuongxa" id="phuongxa" disabled>
                          <option value="<%= data1[0][0].ma_diachi%>"><%= data1[0][0].TEN_PHUONG_XA%></option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group col-md-4" style="margin-left: 5px;">
                      <label>Địa chỉ (Số/Đường/Khóm/Ấp) *</label>
                      <input readonly class="form-control" value="<%= data1[0][0].DIACHI_SO%>" name="diachi" type="text" autofocus autocomplete="off">
                    </div>
                    <div class="form-group col-md-4" style="margin-left: 5px;">
                      <label>Số điện thoại</label>
                      <input readonly class="form-control" value="<%= data1[0][0].SDT%>" name="sdt" type="text" autofocus autocomplete="off">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  Thông tin Hôn nhân
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="form-group col-md-12" style="margin-left: 5px;">
                      <div class="col-md-4" style="padding-left: 0px;">
                        <label for="tinhthanh">Tình trạng hôn nhân </label>
                        <select class="form-control" name="hon_nhan" id="hon_nhan" onchange="getSelect3();" disabled>
                          <option value="<%= data1[0][0].tt_honnhan%>"><%= data1[0][0].TEN_TT_HONNHAN%></option>
                                  </select>
                      </div>
                  </div>
                </div>
                <!-- Chèn JS -->
                <div class="group_honnhan" id="group_honnhan">
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <a style="float: right; margin-right: 4px; margin-bottom: 20px;" href="/admin/duongsu_cn" class="btn btn-default"><< Quay lại</a>
            </div>
          </div>

        </form>
      </div>
      <!-- /.col-lg-12 -->
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
</div>
